<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<style>
    table {
        border-collapse: collapse;
        width: 70%;
        padding: 20px;
        margin: auto;
        border: 1px solid #ccc;
    }

    .title {
        width: 100%;
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        margin: 30px 0 15px;
    }

    th,
    td {
        padding: 8px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: #ccc;
    }
</style>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create user</a>
    </div>

    <div class="table-container">
        <table class="w3-table-all w3-hoverable">
            <div class="title">List users</div>
            <thead>
                <tr class="w3-light-grey">
                    <th>ID</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Action</th>
                </tr>
            </thead>

            <% users.forEach(function(user) { %>
                <tr>
                    <td>
                        <%= user.id %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.age %>
                    </td>
                    <td>
                        <a href="/update">Edit</a>
                        <button>Delete</button>
                    </td>
                </tr>
            <% }); %>
        </table>
    </div>

</body>

</html>